/* --------------- Imports ------------------- */

@import url('https://fonts.googleapis.com/css2?family=Frijole&family=Montserrat:wght@100;200;300;500;600;700;800;900&display=swap');


/* --------------- Variables ------------------- */

:root {
    --main: #EC9A29;
    --accent: #DD1C1A;
    --light: #F8FFEB;
    --dark: #0B090B;

    --heading-font: 'Frijole', cursive;
    --body-font: 'Montserrat', sans-serif;
}


/* --------------- Main ------------------- */

body {
    font-family: var(--body-font);
    background-color: var(--main);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    font-weight: 400;
}
